<mat-form-field>
  <mat-label>{{ property.label | multilingualText }}</mat-label>
  <mat-select formControlName="textStyle">
    <mat-option [value]="TextStyle.H1"><span class="h1">Header 1</span></mat-option>
    <mat-option [value]="TextStyle.H2"><span class="h2">Header 2</span></mat-option>
    <mat-option [value]="TextStyle.H3"><span class="h3">Header 3</span></mat-option>
    <mat-option [value]="TextStyle.H4"><span class="h4">Header 4</span></mat-option>
    <mat-option [value]="TextStyle.H5"><span class="h4">Header 5</span></mat-option>
    <mat-option [value]="TextStyle.H6"><span class="h4">Header 6</span></mat-option>
    <mat-option [value]="TextStyle.Normal">Normal</mat-option>
  </mat-select>
</mat-form-field>
