@use "@oblique/oblique/styles/scss/core/variables" as *;

.widget {
	border: 1px;
	border-style: solid;
	border-color: lightgray;
	margin-top: $ob-spacing-default;
}

.widget-title {
	margin-left: $ob-spacing-sm;
	margin-top: $ob-spacing-sm;
	display: flex;
	justify-content: space-between;
}

.widget-select {
	margin-left: $ob-spacing-sm;
	margin-right: $ob-spacing-sm
}

.widget-header {
	font-size: $ob-spacing-lg;
	display: flex;
	justify-content: center;
	font-weight: bold
}
