@use '@oblique/oblique/styles/scss/core/variables';

.actions {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	button {
		width: 40%;
		height: 20% !important;
	}
}
